Repository johnny-rice/shredvardson-dl-starter: changes, and which lefthook commands are due for each by the changed paths.
All: biome-check, markdown-lint, validate-config-refs, micro-lessons-index

Path conditions:
  biome-check: any of: **/*.{js,ts,jsx,tsx,json}
  markdown-lint: any of: {docs,specs,.claude}/**/*.md
  validate-config-refs: any of: .claude/commands/**/*.md
  micro-lessons-index: any of: docs/micro-lessons/**/*

feat: add Gitleaks secret scanning (Issue #248) (#328)
  .github/workflows/gitleaks.yml
  .gitleaks.toml
  docs/security/SECRET_SCANNING.md
  lefthook.yml
Due: markdown-lint

docs: add MVP scope creep detection micro-lesson (#329)
  docs/micro-lessons/20251109-161522-mvp-scope-creep-detection.md
  docs/micro-lessons/INDEX.md
Due: markdown-lint

docs: add comprehensive PRD for DL Starter template (#330)
  docs/PRD.md
Due: none

docs: add comprehensive deployment documentation (Issue #297) (#331)
  .env.example
  CONTRIBUTING.md
  README.md
  docs/DEPLOYMENT.md
  docs/llm/CONSTITUTION.CHECKSUM
Due: none

feat: configure Vercel preview deployments (Issue #249) (#352)
  .coderabbit.yml
  .env.example
  README.md
  docs/micro-lessons/20251109-161522-mvp-scope-creep-detection.md
  docs/micro-lessons/INDEX.md
  docs/workflows/claude-web-delegation.md
  specs/249-vercel-preview-deployments.md
  vercel.json
Due: markdown-lint

docs: add JSDoc documentation for UI components (Issue #351) (#353)
  docs/micro-lessons/20251109-223017-pr-review-iteration-pattern.md
  docs/micro-lessons/20251109-223018-accessibility-first-examples.md
  docs/micro-lessons/20251109-223019-form-state-examples.md
  docs/micro-lessons/INDEX.md
  packages/ui/src/components/ui/card.example.tsx
  packages/ui/src/components/ui/card.tsx
  packages/ui/src/components/ui/data-table/data-table.example.tsx
  packages/ui/src/components/ui/data-table/data-table.tsx
  packages/ui/src/components/ui/dialog.example.tsx
  packages/ui/src/components/ui/dialog.tsx
  packages/ui/src/components/ui/input.example.tsx
  packages/ui/src/components/ui/label.example.tsx
  packages/ui/src/components/ui/link.example.tsx
  packages/ui/src/components/ui/section-header.example.tsx
  packages/ui/src/components/ui/select.example.tsx
  packages/ui/src/components/ui/select.tsx
Due: biome-check, markdown-lint

feat: Add comprehensive test coverage for 8 UI components (Issue #349) (#354)
  packages/ui/package.json
  packages/ui/src/components/ui/Link.test.tsx
  packages/ui/src/components/ui/button.test.tsx
  packages/ui/src/components/ui/card.test.tsx
  packages/ui/src/components/ui/data-table/data-table.test.tsx
  packages/ui/src/components/ui/dialog.test.tsx
  packages/ui/src/components/ui/input.test.tsx
  packages/ui/src/components/ui/label.test.tsx
  packages/ui/src/components/ui/line-chart/line-chart.test.tsx
  packages/ui/src/components/ui/section-header.test.tsx
  packages/ui/src/components/ui/select.test.tsx
  pnpm-lock.yaml
Due: biome-check

feat: Add comprehensive test coverage for all Skills (Issue #350) (#355)
  .github/workflows/skills-validation.yml
  docs/micro-lessons/20251110-120000-git-diff-index-untracked-files.md
  docs/micro-lessons/20251110-120100-grep-perl-regex-portability.md
  docs/micro-lessons/20251110-120200-shfmt-pipe-operator-style.md
  docs/micro-lessons/INDEX.md
  package.json
  pnpm-lock.yaml
  scripts/skills/__tests__/README.md
  scripts/skills/__tests__/code-reviewer.bats
  scripts/skills/__tests__/design-system.bats
  scripts/skills/__tests__/documentation-sync.bats
  scripts/skills/__tests__/git-branch.bats
  scripts/skills/__tests__/git-commit.bats
  scripts/skills/__tests__/git-pr-fix.bats
  scripts/skills/__tests__/git-pr-prepare.bats
  scripts/skills/__tests__/git-pr.bats
  scripts/skills/__tests__/git-tag.bats
  scripts/skills/__tests__/git-workflow.bats
  scripts/skills/__tests__/git.bats
  scripts/skills/__tests__/scripts/utils/skill-logger.sh
  scripts/skills/__tests__/test_helper/common.bash
  scripts/skills/code-reviewer.sh
  scripts/skills/design-system.sh
  scripts/skills/documentation-sync.sh
  scripts/skills/git.sh
  scripts/skills/git/branch.sh
  scripts/skills/git/pr-fix.sh
  scripts/skills/git/pr-prepare.sh
  scripts/skills/git/pr.sh
  scripts/skills/git/workflow.sh
  scripts/utils/skill-logger.sh
Due: markdown-lint

feat: Add comprehensive test coverage for git-context package (Issue #357) (#363)
  .coderabbit.yml
  docs/micro-lessons/20251110-210446-coderabbit-test-file-exclusion.md
  docs/micro-lessons/20251110-210447-regex-replace-structure-preservation.md
  docs/micro-lessons/INDEX.md
  packages/git-context/__tests__/exec-safe.test.ts
  packages/git-context/__tests__/git-branch.test.ts
  packages/git-context/__tests__/git-diff.test.ts
  packages/git-context/__tests__/git-log.test.ts
  packages/git-context/__tests__/git-repository.test.ts
  packages/git-context/__tests__/git-status.test.ts
  packages/git-context/__tests__/integration.test.ts
  packages/git-context/__tests__/sanitize.test.ts
  packages/git-context/__tests__/validators.test.ts
  packages/git-context/src/exec-safe.ts
  packages/git-context/src/sanitize.ts
Due: biome-check, markdown-lint

feat: add comprehensive test coverage for utility packages (Issue #358) (#364)
  docs/micro-lessons/20251110-215102-ci-reveals-preexisting-bugs.md
  docs/micro-lessons/INDEX.md
  packages/db/package.json
  packages/db/src/client.test.ts
  packages/db/src/types.test.ts
  packages/db/vitest.config.ts
  packages/utils/date.test.ts
  packages/utils/index.ts
  packages/utils/package.json
  packages/utils/tsconfig.json
  packages/utils/vitest.config.ts
  pnpm-lock.yaml
  scripts/db/migrate.ts
Due: biome-check, markdown-lint

feat: expand E2E test coverage for authentication flows (Issue #359) (#365)
  .coderabbit.yml
  apps/web/tests/e2e/auth-accessibility.spec.ts
  apps/web/tests/e2e/auth-login.spec.ts
  apps/web/tests/e2e/auth-password-reset.spec.ts
  apps/web/tests/e2e/auth-protected-routes.spec.ts
  apps/web/tests/e2e/auth-signup.spec.ts
  apps/web/tests/e2e/auth-update-password.spec.ts
  apps/web/tests/e2e/mobile-responsive.spec.ts
  docs/micro-lessons/20251111-083156-vacuous-test-assertions.md
  docs/micro-lessons/20251111-083200-playwright-auto-waiting.md
  docs/micro-lessons/INDEX.md
Due: biome-check, markdown-lint

docs: Create comprehensive developer documentation suite (Issue #360) (#366)
  .claude/commands/db.md
  .claude/commands/test.md
  .claude/skills/README.md
  docs/INDEX.md
  docs/guides/ARCHITECTURE.md
  docs/guides/DATABASE.md
  docs/guides/SKILLS.md
  docs/guides/TESTING.md
Due: markdown-lint

feat: eliminate 'any' types in Skills and scripts (Issue #362) (#367)
  .claude/skills/agent-orchestrator/scripts/orchestrate.ts
  .claude/skills/agent-orchestrator/scripts/parse-response.ts
  .claude/skills/agent-orchestrator/scripts/types.ts
  .claude/skills/design-system/scripts/check-component-exists.ts
  .claude/skills/design-system/scripts/generate-component-old.ts
  .claude/skills/design-system/scripts/generate-component.ts
  .claude/skills/design-system/scripts/import-external.ts
  apps/web/tests/rls/user-isolation.test.ts
  apps/web/tests/sub-agents/contracts.test.ts
  docs/micro-lessons/20251111-162629-extract-type-guards-module-scope.md
  docs/micro-lessons/INDEX.md
  packages/ui/src/lib/animations.ts
  scripts/create-pr.ts
  scripts/preflight.ts
  scripts/seed-dev.ts
  scripts/seed-test.ts
  scripts/starter-doctor.ts
  scripts/validate-migration.ts
  scripts/validate-traceability.ts
Due: biome-check, markdown-lint

feat: synthesize 123 micro-lessons into 8 comprehensive pattern guides (Issue #361) (#368)
  .claude/skills/agent-orchestrator/scripts/types.ts
  analyze-micro-lessons.ts
  apps/web/tests/e2e/auth-password-reset.spec.ts
  delegation-packages/batch-357-362.txt
  docs/INDEX.md
  docs/guides/DATABASE.md
  docs/guides/SKILLS.md
  docs/patterns/README.md
  docs/patterns/REVIEW.md
  docs/patterns/bash-safety-patterns.md
  docs/patterns/ci-cd-patterns.md
  docs/patterns/database-patterns.md
  docs/patterns/gaps-and-analytics.md
  docs/patterns/git-workflow-patterns.md
  docs/patterns/micro-lessons-analysis.md
  docs/patterns/react-patterns.md
  docs/patterns/security-patterns.md
  docs/patterns/testing-patterns.md
  docs/patterns/typescript-patterns.md
  micro-lessons-analysis.json
  scratch/migration-validation-2025-11-10.md
  scripts/create-pr.ts
Due: biome-check, markdown-lint

docs: consolidate PRD files and enhance README with delegation workflow (#369)
  README.md
  docs/PRD.md
  docs/product/PRD.md
Due: markdown-lint

test: fix E2E auth fixture and add comprehensive documentation (Issue #359) (#370)
  apps/web/tests/e2e/README.md
  apps/web/tests/e2e/fixtures/database.ts
Due: biome-check

fix: improve onboarding flow for new developers (Issue #371) (#372)
  README.md
  docs/adr/004-prerequisites-validation-script.md
  package.json
  scripts/check-prerequisites.ts
Due: biome-check, markdown-lint
